.background {
  background-image: url('/background.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding-bottom: 50px;
}

.wave {
  position: absolute;
  width: 100%;
  height: auto;
  margin-top: 50px;
  left: 0;
}
