@use '@variables' as variables;

.background {
  background-image: url('/gradient.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding-bottom: 50px;
}

.wave {
  position: absolute;
  width: 100%;
  height: auto;
  left: 0;
}

@media screen and (max-width: variables.$mobile) {
  .wave {
    margin-top: 80px;
    width: 200%;
    left: 50%;
    transform: translateX(-50%);
  }

  .background {
    padding: 0;
  }
}
