@use '@variables' as variables;
@use '@mixins' as mixins;

.container {
  background-color: variables.$primaryColor;
  padding: 60px 0 60px;
  display: flex;
  flex-direction: column;
}

.title {
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 20px;
  color: white;
  @include mixins.subheading;
}

.button {
  margin: 30px auto 0;
  display: block;
}

@media screen and (max-width: variables.$mobile) {
  .container {
    background-position: center;
    padding: 20px 0 40px;
  }

  .title {
    padding: 0 20px;
  }
}
