@use '@variables' as variables;
@use '@mixins' as mixins;

.container {
  background-image: url('/background-1.png');
  background-position: center -650px;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 30px 0 80px;
  display: flex;
  flex-direction: column;
}

.title {
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 20px;
  @include mixins.fontPrimaryBold;
}

.button {
  margin: 30px auto 0;
  display: block;
}

@media screen and (max-width: variables.$mobile) {
  .container {
    background-position: center;
    padding: 20px 0 40px;
  }

  .title {
    padding: 0 20px;
  }
}
