@use '@variables' as variables;
@use '@mixins' as mixins;

.container {
  padding-top: 60px;
  padding-bottom: 60px;
}

.title {
  color: variables.$primaryColor;
  @include mixins.subheading;
}

.servicesWrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 200px;
}

.categoryTitle {
  @include mixins.fontPrimaryBold;
  font-size: 20px;
  margin-bottom: 10px;
}

.service {
  display: flex;
  align-items: center;
  @include mixins.fontPrimaryMedium;
  margin-bottom: 10px;
  svg {
    width: 10px;
    color: variables.$primaryColor;
    margin-right: 20px;
  }
}

.column {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

@media screen and (max-width: variables.$mobile) {
  .title {
    margin-bottom: 30px;
  }
  .servicesWrapper {
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
  }
}
