@use '@variables' as variables;
@use '@mixins' as mixins;

.container {
  padding-top: 30px;
  padding-bottom: 30px;
}

.title {
  color: variables.$primaryColor;
  @include mixins.fontPrimaryBold;
  font-size: 28px;
}

.servicesWrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 200px;
}

.service {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  @include mixins.fontPrimaryMedium;
  svg {
    width: 10px;
    color: variables.$primaryColor;
    margin-right: 15px;
  }
}

.column {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
