@use '@variables' as variables;
@use '@mixins' as mixins;

.nav {
  @include mixins.fontPrimaryMedium;
  width: 100%;
  z-index: 1000;
}

.desktopList {
  display: flex;
  align-items: flex-start;
  list-style-type: none;
  padding: 40px 0;
  width: 100%;
  justify-content: space-between;
  img {
    display: block;
    padding-right: 30px;
  }
}

.navRight {
  display: flex;
  align-items: center;
}
