@use '@variables' as variables;

@mixin fontPrimary {
  font-family: var(--font-poppins), sans-serif;
}

@mixin fontPrimaryLight {
  font-family: var(--font-poppins), sans-serif;
  font-weight: 300;
}

@mixin fontPrimaryMedium {
  font-family: var(--font-poppins), sans-serif;
  font-weight: 500;
}

@mixin fontPrimaryBold {
  font-family: var(--font-poppins), sans-serif;
  font-weight: 600;
  line-height: 1.2;
}

@mixin subheading {
  @include fontPrimaryBold;
  font-size: 35px;
}
