@use '@variables' as variables;

.mobileNav {
  background: variables.$black;
  color: variables.$white;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  z-index: 201;
  padding-top: 20px;
  width: 300px;
}

.overlay {
  background-color: rgba(variables.$black, 0.5);
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 200;
  top: 0;
  left: 0;
  border: none;
}

.authButton {
  margin: 0 10px;
  &.signIn {
    border: 1px solid black;
    margin-left: 20px;
  }
  &.logIn {
    margin: 0 0px 0 10px;
  }
}

@media screen and (max-width: variables.$tablet) {
  .authButton {
    margin: 0 0 0 10px;
    &.signIn {
      margin: 20px 0 10px 10px;
    }
  }
}
