@use '@variables' as variables;

.container {
  height: 450px;
  background-image: url('/gradient-light.png');
  background-position: center -650px;
  background-size: cover;
  background-repeat: no-repeat;
}
