@use '@variables' as variables;
@use '@mixins' as mixins;

.footer {
  background-color: variables.$black;
}

.innerContainer {
  display: flex;
  padding-top: 50px;
  padding-bottom: 50px;
  align-items: flex-start;
}

.logo {
  margin-right: 100px;
}

.list {
  list-style: none;
  text-transform: uppercase;
  padding-top: 10px;
  li {
    padding-bottom: 20px;
    color: white;
    @include mixins.fontPrimaryBold;
  }
}

.button {
  margin-left: auto;
}
